@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}

header {
  color: white;
}

a {
  text-decoration: none;
  color: #1864ab;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none !important;
}

.input-range {
  width: 100%;
}

.btn {
  padding: 1.8rem 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1.8rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
  background-color: white;
  border: 3px solid #1971c2;
  color: #1971c2;
  transition: all 0.5s;
  gap: 0.4rem;
}

.btn:hover {
  background-color: #1971c2;
  color: white;
  border: 3px solid white;
}
